{% extends 'base.html' %}

{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to GenericMediCare</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie ante dui, nec ultrices nisi sagittis sit amet. 
                            Quisque finibus quis felis a semper. Aliquam fermentum rhoncus est, quis aliquet arcu consequat eget. Sed at felis ac massa
                            dictum facilisis tincidunt vel elit. In porttitor pellentesque nunc sit amet vulputate. Sed venenatis placerat dolor at 
                            dignissim. Vestibulum ultrices ullamcorper enim ac sodales. Suspendisse non ornare orci. Etiam tempus ultricies ultrices. 
                            Fusce cursus nec felis elementum semper. Mauris lacus erat, ornare quis sapien vel, pulvinar aliquam nisi.
                            <br><br>
                            Donec facilisis eros hendrerit finibus condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                            Proin vestibulum mi ligula, id iaculis ipsum elementum at. Nullam a sapien in mauris hendrerit lacinia at ut leo. 
                            Vivamus ac ante aliquam, mollis velit in, vehicula leo. Vivamus fermentum suscipit aliquet. Pellentesque eu consequat leo. 
                            Phasellus pretium ultricies vulputate. Quisque porta purus nec dolor volutpat, eget venenatis nisi maximus. Ut dignissim a 
                            nunc sed ultricies. Fusce id justo accumsan, vehicula augue blandit, tincidunt diam. Maecenas pretium, augue vel ornare 
                            faucibus, sapien nisi suscipit velit, id pellentesque massa tortor ac turpis. In neque ex, vehicula vel hendrerit in, 
                            scelerisque eget massa. Duis eget tellus sed odio sagittis ultrices. Aliquam sagittis, magna id viverra vestibulum, lorem 
                            dolor consequat metus, vitae viverra nisi sem at erat.
                            <br><br>
                            Sed tellus orci, fermentum semper arcu et, ultrices vestibulum est. Ut gravida lacus ligula, vitae tincidunt mi mattis ac. 
                            Sed sed euismod mauris, eget volutpat ipsum. Nam a convallis lorem. Suspendisse non pretium purus. Donec ac orci tempus, 
                            viverra ipsum non, varius velit. Nullam velit erat, consectetur quis urna id, aliquet mattis risus.
                            <br><br>
                        </p>    
                    </div>
                </center>
            </div>
        </div>

{% endblock %}